@import "_reset.css";

$grid-columns: 12;
$grid-max-width: 2048px;

$Mobile: "only screen and (max-width: 599px)";
$Tablet: "only screen and (min-width: 600px) and (max-width: 1023px)";
$Desktop: "only screen and (min-width: 1024px)";

html {
  min-height: 100%;
  position: relative;
}

body{
       font-size: 16px;
       margin: 0 0 100px;

    header {
        display: block;
        padding: 20px;
        display: flex;
        align-items: center;
    }
 
    main {
        display: inline-block;
    }
 
    .menu {
        margin-left: auto;
        display: none;
        height: 100%;
        font-size: 110%;
    }

    .menu ul {
        overflow: hidden;
        list-style: none;
    }

    .menu li {
        display: inline-block;
        padding-right: 10px;
    }

    .title {
        font-size: 200%;
        display: inline-block;
        height: 100%;
    }

    a {
        text-decoration: underline;
        color: black;
    }
    
    // mobile
    @media #{$Mobile} {
 
         .wrapper{
            width: 95%;
            max-width: $grid-max-width;      
         }
 
 
         @for $i from 1 through $grid-columns{
             .col-m-#{$i}{
                 width: 100% / $grid-columns * $i;
             }
         }
        .menu-m {
            display: inline-block;
        }
        .title{
            display: none;
        }
    }

    // tablet
    @media  #{$Tablet} {
 
         .wrapper{
            width: 91.6%;
            max-width: $grid-max-width;      
         }
 
          @for $i from 1 through $grid-columns{
             .col-t-#{$i}{
                 width: 100% / $grid-columns * $i;
             }
         }

         .menu-t{
             display: inline-block;
         }
    }
    // desktop
    @media #{$Desktop} {

    .wrapper{
        width: 91.6%;
        max-width: $grid-max-width;      
     }
 
      @for $i from 1 through $grid-columns{
         .col-d-#{$i}{
             width: 100% / $grid-columns * $i;
         }
     }

      .menu-d{
          display: flex;
      }
    }

    .middle {
        vertical-align: middle;
    }

    .container {
        display: inline-block;
        float: left;

        .frame {
            margin: 20px;
            border-width: 1px;
            border-style: solid;
            background-color: #E0E0D3;
            text-align: justify;

            .header {
                margin-left: 100%;
                float: right;
                display: block;
                border-style: solid;
                border-width: 0 0 1px 1px;
                padding: 20px;
                margin-bottom: 20px;
            }

            .content {
                display: block;
                margin: 20px;
            }

            #lorem {
                background-color: #64B5F6;
            }

            #ipsum {
                background-color: #FFB74D;
            }

            #dolor {
                background-color: #AED581;
            }
        }
    }

    footer {
        background-color: #E0E0D3;
        text-align: center;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: 0;
        height: 100px;
        width: 100%;
        border-style: solid;
        border-width: 1px 0 0 0;

        & > div {
            margin: 30px;
        }
        span{
          display: block;
          font-weight: bold;
        }
    }
}