li {
    list-style-type: square;
}

#cena {
    color: red;
    font-weight: bold;
}

#nazwa_wydawnictwa{
    text-decoration: underline
}

.wstep {
    font-style: italic;
}

td > img {
    border-style: solid;
    border-color: blue;
}


    td > img:hover {
        border-style: solid;
        border-color: red;
    }

h1 + h2 {
    letter-spacing: 5px;
}

td[colspan="2"] > p {
    font-size: small;
}

p + p {
    color: gery;
}

body {
    background-image: url(books.png);
    background-repeat: repeat-y;
}


body > h1 {
    color: yellow !important;
}

* {
    font-family: Tahoma;
}

body {
    margin: 5em 10em 5em 10em;
}

p {
    text-align: justify;
}
